
<ion-row>
  <form [formGroup]="weatherSearchForm" *ngIf="weatherSearchForm" (submit)="sendCity(weatherSearchForm.value)">
      <ion-col>
        <ion-item>
          <ion-input formControlName="city" type="text" placeholder="Enter a city"></ion-input>
          <ion-button ion-button end class="submitBtn ion-activatable ripple-parent"
          type="submit"
          color="primary" 
          shape="round"
          mode="md"
          fill="clear"
          strong="true"
          [disabled]="!weatherSearchForm.valid">
        <ion-icon name="search" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col> 
  </form>
</ion-row>
