<section class="weather">
  <ion-grid *ngIf="this.weather.description">
    <ion-col class="ion-text-center">
      <h2 class='city'>{{ this.weather.cityName }}</h2>
      <h1>{{ this.weather.tempActual }} °C</h1>
      <h4 class='description'>{{ this.weather.description }}</h4>
    </ion-col>

    <ion-row class="ion-text-center">
      <ion-col class='tempMin'>Min {{ this.weather.tempMin }} °C</ion-col>
      <ion-col class='tempMax'>Max {{ this.weather.tempMax }} °C</ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col class='humidity'>Humidity {{ this.weather.humidity }} %</ion-col>
      <ion-col class='wind'>Wind {{this.weather.wind}} km/h</ion-col>
      <!-- <ion-col class='uv'>uv {{this.weather.uv}}</ion-col> -->
    </ion-row>

    <!-- <ion-row class="ion-text-center">
      <ion-col class='airQuality'>Air Quality {{this.pollution.airQuality}}</ion-col>
      <ion-col class='fineParticules'>Fines Particules {{this.pollution.fineParticule}}</ion-col>
      <ion-col class='ozone'>Ozone {{this.pollution.ozone}}</ion-col>
    </ion-row> -->
  </ion-grid>
</section>