<ion-content class="page">
  <div>
    <ul>
      <li class='tempActual'></li>
      <li class='tempMin'></li>
      <li class='tempMax'></li>
    </ul>
    <ul>
      <li class='humidity'></li>
      <li class='wind'></li>
      <li class='uv'></li>
    </ul>
    <ul>
      <li class='airQuality'></li>
      <li class='fineParticules'></li>
      <li class='ozone'></li>
    </ul>
  </div>

<ion-content>
  <app-input-search></app-input-search>

  <app-city-list></app-city-list>
</ion-content>

</ion-content>