<ion-app>
  <ion-menu type="push" side="start" mode="ios" content-id="main-content">
    <ion-header>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <app-input-search></app-input-search>
        </ion-item>
      </ion-list>
      <ion-list *ngFor="let city of cityList">
        <ion-item>
          <ion-icon ios="ios-heart" md="md-heart" slot="end"></ion-icon>
          <ion-icon ios="ios-close" md="md-close" slot="end"></ion-icon>
          <ion-icon ios="ios-navigate" md="md-navigate" slot="end"></ion-icon>
          <ion-label>{{ city.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>

  <router-outlet id="main-content">

    <ion-content class="weather-page">
      <app-weather id="main-content" class="weather-page"></app-weather>
    </ion-content>

  </router-outlet>
</ion-app>